{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage home-page' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    'menu_safe',
  ]
%}
<!DOCTYPE html>
<html{{html_attributes.addClass(['js'])}}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
    <link href="https://use.typekit.net/dtt6ywt.css" rel="stylesheet">

    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{attributes.addClass(body_classes)}}>
    {{ page_top }}

    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>

    {% include directory ~ '/idfive-component-library/source/_patterns/core/iconset/iconset.svg' %}

    {{ page }}

    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
